name: simple_notes
description: A simple note taking app.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  figma:
    git:
      url: https://github.com/Kevinsansuor/flutterflow-noticias-test-packages.git
      ref: efa7340f819d4e9b370bc21ca0faa5d27e4411f0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
